.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
    animation-name: move_litle_cub;
    animation-duration: 4000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes move_litle_cub{
    0%{
        background-color: blue;
    }
    25%{
        background-color: rgb(242, 255, 3);
        transform: translateX(500px);
    }
    50%{
        background-color: rgb(123, 255, 0);
        transform: translateY(300px);
    }
    75%{
        background-color: rgb(255, 94, 0);
        transform: translateX(-500px);
    }
    100%{
        background-color: blue;
        transform: translateY(-300px);
    }

}